:root {
  --color: #6532f9;
}
body {
  /* background-color: #f8fafc; */
  padding-top: 3.5625rem;
}

header .navbar {
  background-color: #fdfefe;
}

header .navbar .div-1 {
  background-color: var(--color);
  margin-right: 9px;
}
header .navbar .div-1 i {
  color: white;
  font-size: 18px;
}
header .navbar .div-2 h1 {
  font-size: 1.875rem;
}
header .navbar .div-2 p {
  font-size: 0.875rem;
}
header .navbar .div-2 span {
  color: var(--color);
  font-weight: bold;
}
header .navbar .right-top .add-btn {
  background: linear-gradient(to bottom right, #c260fb, #583fe4);
  color: white;
  border: none;
  border-radius: 0.625rem;
  transition: transform 0.3s linear;
}
header .navbar .right-top .add-btn:hover {
  transform: translateY(-0.375rem);
  box-shadow: 0px 0.3125rem 7px 0px #c974fa50;
}
header .navbar .right-top img {
  width: 2.1875rem;
  border-radius: 0.625rem;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #60a5fa, #0b3591);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  font-size: 48px;
  color: white;
  margin: auto;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.avatar span {
  position: absolute;
}

.btn {
  margin-top: 10px;
  padding: 6px 12px;
  background: linear-gradient(to right, var(--color), #0b3591);
  color: white;
  cursor: pointer;
  border-radius: 0.625rem;
}
.add-input {
  width: fit-content;
  margin: auto;
  background-color: rgb(243, 237, 237);
}
.add-input .label-1 {
  cursor: pointer;
}

/* &form control */

.modal-body label span {
  color: red;
}
.modal-body textarea {
  resize: none;
}
.modal-body .star-emergency input {
  font-size: 1.25rem;
}
.modal-body .star-emergency .star i {
  color: gold;
}
.modal-body .star-emergency .emergency i {
  color: red;
}
.modal-footer .btn-form {
  margin-top: 10px;
  padding: 6px 12px;
  background: linear-gradient(to right, var(--color), #0b3591);
  color: white;
  cursor: pointer;
  border-radius: 0.625rem;
  border: none;
}

/* sec-1 */

.sec-1 {
  padding-top: 3.75rem;
}
.sec-1 .inner .total .icon-1 i {
  color: white;
}
.sec-1 .inner .total .color-p {
  color: rgb(103, 101, 101);
}
.sec-1 .inner .total p {
  margin: 0;
  font-weight: bolder;
}
.sec-1 .inner .total .size-0 {
  font-size: 1.25rem;
}
/* favorites */
.sec-1 {
  padding-top: 3.75rem;
}
.sec-1 .inner .total-2 .icon-2 {
  background-color: orange;
  color: white;
}
.sec-1 .inner .total-2 .icon-1 i {
  color: white;
}
.sec-1 .inner .total-2 .color-p {
  color: rgb(103, 101, 101);
}
.sec-1 .inner .total-2 p {
  margin: 0;
  font-weight: bolder;
}
.sec-1 .inner .total-2 .size-0 {
  font-size: 1.25rem;
}
/* Emergency */
.sec-1 {
  padding-top: 3.75rem;
}
.sec-1 .inner .total-3 .icon-3 {
  background-color: red;
  color: white;
}
.sec-1 .inner .total-3 .icon-3 i {
  color: white;
}
.sec-1 .inner .total-3 .color-p {
  color: rgb(103, 101, 101);
}
.sec-1 .inner .total-3 p {
  margin: 0;
  font-weight: bolder;
}
.sec-1 .inner .total-3 .size-0 {
  font-size: 1.25rem;
}
/* sec-2 */
#sec-2 {
  padding-top: 1.5rem;
}

/* Favorites */
#sec-2 .berant {
  border-radius: 15px;
  border: 1px solid transparent;
  overflow: hidden;
}
#sec-2 .berant .contant {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sec-2 .berant .contant .undefiund {
  color: gray;
  /* display: none; */
}

/* width: 50px;
    height: 50px;
    position: relative;
    border-radius: 0.625rem;
    background-color: #fb7b00;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-weight: bold; */
#sec-2 .berant .contant .card-fav {
  background-color: #f7f6f6;
  display: flex;
  width: 90%;
  align-items: center;
  margin: 8px 0;
}
#sec-2 .berant .contant .card-fav:hover {
  background-color: #fffbeb;
}
#sec-2 .berant .contant .card-fav:hover a {
  background-color: green;
}
#sec-2 .berant .contant .card-fav .icon {
  background-color: #fb7b00;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}
#sec-2 .berant .contant .card-fav i {
  color: white;
}
#sec-2 .berant .contant .card-fav .text-fav {
  width: 70%;
}
#sec-2 .berant .contant .card-fav .link-fav {
  background-color: rgb(160, 179, 165);
}
#sec-2 .input-wrapper {
  position: relative;
}
#sec-2 .input-wrapper span {
  position: absolute;
  top: 25%;
}
.sec-2 .inner .total-2 .icon-2 {
  background-color: orange;
  color: white;
}
.sec-2 .inner .total-2 .icon-1 i {
  color: white;
}
.sec-2 .inner .total-2 {
  background: #fff8ec;
}
.sec-2 .inner .total-2 .color-p {
  font-size: 1.25rem;
  font-weight: bolder;
}
.sec-2 .inner .total-2 p {
  margin: 0;
}
.sec-2 .inner .total-2 .size {
  font-size: 0.875rem;
  color: rgb(136, 136, 136);
}

/* emergency */
#sec-2 .berant2 {
  border: 1px solid transparent;
  background-color: #fff2f2;
  border-radius: 15px;
  overflow: hidden;
}
#sec-2 .berant2 .contant2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fef2f2;
}
#sec-2 .berant2 .contant2 .undefiund2 {
  color: gray;
  /* display: none; */
}
#sec-2 .berant2 .contant2 .card-fav2 {
  background-color: #f7f6f6;
  display: flex;
  width: 90%;
  align-items: center;
}
#sec-2 .berant2 .contant2 .card-fav2:hover {
  background-color: #fff2f2;
}
#sec-2 .berant2 .contant2 .card-fav2:hover a {
  background-color: red;
}
#sec-2 .berant2 .contant2 .card-fav2 .icon2 {
  border-radius: 10px;
  background-color: #e41ba7;
}
#sec-2 .berant2 .contant2 .card-fav2 i {
  color: white;
}
#sec-2 .berant2 .contant2 .card-fav2 .text-fav2 {
  width: 70%;
}
#sec-2 .berant2 .contant2 .card-fav2 .link-fav2 {
  background-color: rgb(180, 151, 151);
}
.sec-2 .inner .total-22 .icon-22 {
  background-color: red;
  color: white;
}
.sec-2 .inner .total-22 .icon-1 i {
  color: white;
}
.sec-2 .inner .total-2 {
  background: #fff8ec;
}
.sec-2 .inner .total-22 .color-p2 {
  font-size: 1.25rem;
  font-weight: bolder;
}
.sec-2 .inner .total-22 p {
  margin: 0;
}
.sec-2 .inner .total-22 .size2 {
  font-size: 0.875rem;
  color: rgb(136, 136, 136);
}

/* display */

#sec-2 .inner .display {
  width: 100%;

  margin-top: 20px;
}
#sec-2 .inner .display .parent {
  border-radius: 10px;
  padding: 10px 0px;
  display: flex;
}
#sec-2 .inner .display .parent .icon {
  width: 16%;
  text-align: center;
  position: relative;
  background-color: #e41ba7;
  padding: 0.7rem;
  border-radius: 10px;
  color: white;
}
#sec-2 .inner .display .parent .icon .icon-pos-1 {
  position: absolute;
  right: -10px;
  top: -10px;
}
#sec-2 .inner .display .parent .icon .icon-pos-1 i {
  background-color: gold;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}
#sec-2 .inner .display .parent .icon .icon-pos-2 {
  position: absolute;
  right: -7px;
  bottom: -2px;
}
#sec-2 .inner .display .parent .icon .icon-pos-2 i {
  background-color: red;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
}
#sec-2 .inner .display .parent .text-number p {
  font-size: 0.875rem;
  color: gray;
}
#sec-2 .inner .display .parent .text-number p i {
  color: blue;
  background-color: rgb(199, 213, 228);
  border-radius: 8px;
  margin-top: 3px;
}

/* style card box details */
.box {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
}

.wrapper-image {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 0.625rem;
  background-color: #fb7b00;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
}

.box .wrapper-image img {
  border-radius: 0.625rem;
  object-fit: cover;
}

.box i {
  background: #0000ff0d;
  padding: 10px;
  width: 35px;
  border-radius: 10px;
  color: #155dfc;
}

.box i.location {
  color: #009966;
  background-color: #d0fae5;
}

.box .wrapper-text .icon span {
  color: #6a7282;
  font-size: 0.875rem;
}

.box .body-box .other {
  color: #000;
  background-color: #f3f4f6;
  width: fit-content;
  padding: 0 4px;
  border-radius: 8px;
}

.modal-body .liveImage {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.chart {
  text-align: center;
  padding: 8px;
  display: block;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #fff;
  background-color: #fb7b00;
  border-radius: 10px;
}

/* style card box details */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 640px;
  overflow: auto;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.header-box .wrapper-image .show {
  position: absolute;
  top: 0;
  right: 0;
  color: gold;
  display: none;
}

.header-box .wrapper-image .showHeart {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  color: gold;
}

.header-box .wrapper-image .show i,
.header-box .wrapper-image .showHeart i {
  color: gold;
  background-color: #fff;
}
